html, body{
    background-color: #99CCCC;
}

.brand{
    font-size: 30px;
    margin-right: 20px;
}

.navbar-set{
    border-bottom: 1px solid #FFFFFF;
    color: #99CCCC;

}

header a{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
}

header a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

header a:link{
    color: #FFFFFF;
}