{% extends 'portfolio_templates/base.html' %}

{% block head %}
{% load static %}
<title>Contacts</title>
<link rel="stylesheet" href="{% static 'css/stylecontacts.css' %}">
{% endblock %}

{% block content %}
<main>

    <section class="row justify-content-center">

        <article class="github">
            <img src="{% static 'GitHub-Mark-Light-64px.png' %} " height="64" width="64">
            <a href="https://github.com/FickleIlya">GitHub</a>
        </article>

        <article class="linkedin">
            <img src="{% static 'linkedin-64.png' %}" height="64" width="64">
            <a href="https://www.linkedin.com/in/ilya-berezenko-429ab1241/">LinkedIn</a>
        </article>

        <article class="telegram">
            <img src="{% static 'telegram-64.png' %}" height="64" width="64">
            <a href="https://t.me/thebest47">Telegram</a>
        </article>

        <article class="mail">
            <img src="{% static 'mail.png' %}" height="64" width="64">
            <a href="mailto:berezenkoilya@gmail.com?subject=Портфолио&body=Привет!">Mail</a>
        </article>

    </section>

</main>

{% endblock %}