{% extends 'portfolio_templates/base.html' %}

{% block head %}
{% load static %}
<title>Contacts</title>
<link rel="stylesheet" href="{% static 'css/stylecontacts.css' %}">
{% endblock %}

{% block content %}
<main>

    <section class="row justify-content-center">

        <article class="github">
            <img src="{% static 'contact_icons/GitHub-Mark-Light-64px.png' %} " height="64" width="64">
            <a href="https://github.com/FickleIlya" target="_blank">GitHub</a>
        </article>

        <article class="linkedin">
            <img src="{% static 'contact_icons/linkedin-64.png' %}" height="64" width="64">
            <a href="https://www.linkedin.com/in/fickleilya/" target="_blank">LinkedIn</a>
        </article>

        <article class="telegram">
            <img src="{% static 'contact_icons/telegram-64.png' %}" height="64" width="64">
            <a href="https://t.me/thebest47" target="_blank">Telegram</a>
        </article>

        <article class="mail">
            <img src="{% static 'contact_icons/mail.png' %}" height="64" width="64">
            <a href="mailto:berezenkoilya@gmail.com?subject=Portfolio&body=Hi!">Mail</a>
        </article>

    </section>

</main>

{% endblock %}