{% extends 'portfolio_templates/base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/stylehomepage.css' %}">
<title>Portfolio</title>

{% endblock %}

{% block content %}

<main>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 me-img">
            <img src="{% static 'me.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="This place only for me!" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Hi! I'm Ilya Berezenko,<br>Python Backend Developer</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start div-btn">

              <a href="{% static 'ResumeRUS.pdf' %}" class="btn-lg px-4 me-md-2 btn-resume">
                Download ResumeRUS
              </a>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start div-btn">
              <a href="{% static 'ResumeENG.pdf' %}" class="btn-lg px-4 me-md-2 btn-resume">
                Download ResumeENG
              </a>
            </div>
          </div>
        </div>
      </div>
</main>

{% endblock %}