{% extends 'portfolio_templates/base.html' %}
{% block head %}
    <title>{{ blog.title }}</title>
    <style>
       .word {
        width: 1500px;
        padding: 10px;
        font-size: 20px;
        word-break: break-all;
       }
   </style>
{% endblock %}

{% block content %}
    <h1 id="blogtitle" class="font-weight-bold text-center">{{ blog.title }}</h1>
    <h2 class="text-center mb-5 text-muted">{{ blog.date|date:'F jS Y' }}</h2>
    <p class="word">{{ blog.text|safe }}</p>
{% endblock %}